In [1]:
# standard imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', 20)

In [2]:
## Viewing  long_lat CSV file
long_lat1 = pd.read_csv('long_lat.csv')
long_lat1

          id  longitude  latitude
0          1    -122.23     37.88
1          2    -122.22     37.86
2          3    -122.24     37.85
3          4    -122.25     37.85
4          5    -122.25     37.85
...      ...        ...       ...
21553  21554    -121.09     39.48
21554  21555    -121.21     39.49
21555  21556    -121.22     39.43
21556  21557    -121.32     39.43
21557  21558    -121.24     39.37

[21558 rows x 3 columns]

In [3]:
## Viewing cal_housing_low CSV file
cal_housing_low1 = pd.read_csv('cal_housing_low.csv')
cal_housing_low1

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome
0,23,CA,113.903,NaN,543.0,2438.0,481.0,1016.0,17250.0
1,24,CA,99.701,56.0,337.0,1692.0,328.0,856.0,21806.0
2,26,CA,107.500,41.0,123.0,535.0,121.0,317.0,24038.0
3,27,CA,93.803,53.0,244.0,1132.0,241.0,607.0,24597.0
4,28,CA,105.504,52.0,423.0,1899.0,400.0,1104.0,18080.0
...,...,...,...,...,...,...,...,...,...
6069,21554,CA,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0
6070,21555,CA,77.102,18.0,154.0,701.0,114.0,360.0,25568.0
6071,21556,CA,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0
6072,21557,CA,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0
6073,21558,CA,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0

In [4]:
## Viewing cal_housing_medium CSV file
cal_housing_medium1 = pd.read_csv('cal_housing_medium.csv')
cal_housing_medium1

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome
0,8,CA,241.403,53.0,688.0,3104.0,648.0,1161.0,31200.0
1,9,CA,226.701,NaN,668.0,2558.0,598.0,1210.0,20804.0
2,10,CA,261.102,52.0,710.0,3550.0,717.0,1552.0,36912.0
3,12,CA,241.801,53.0,755.0,3506.0,734.0,1508.0,32705.0
4,13,CA,213.504,53.0,478.0,2492.0,468.0,1101.0,30750.0
...,...,...,...,...,...,...,...,...,...
10319,21493,CA,193.800,14.0,247.0,1322.0,232.0,898.0,19327.0
10320,21494,CA,187.503,39.0,110.0,575.0,110.0,260.0,37500.0
10321,21500,CA,123.400,21.0,222.0,1142.0,213.0,463.0,31534.0
10322,21502,CA,137.503,35.0,78.0,374.0,88.0,208.0,38750.0
10323,21546,CA,162.500,5.0,66.0,362.0,61.0,173.0,30000.0

In [5]:
## Viewing cal_housing_high CSV file
cal_housing_high1 = pd.read_csv('cal_housing_high.csv')
cal_housing_high1

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome
0,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0
1,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0
2,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0
3,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0
4,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0
...,...,...,...,...,...,...,...,...,...
5155,21425,CA,276.501,8.0,756.0,4987.0,726.0,2513.0,69454.0
5156,21446,CA,310.004,11.0,514.0,1780.0,507.0,4481.0,14653.0
5157,21450,CA,286.002,17.0,317.0,1964.0,287.0,811.0,59629.0
5158,21452,CA,326.501,17.0,1022.0,6141.0,967.0,2557.0,42432.0
5159,21497,CA,275.003,40.0,69.0,355.0,71.0,240.0,28542.0

In [6]:
## Viewing ocean_proximity CSV file
ocean_proximity1 = pd.read_csv('ocean_proximity.csv')
ocean_proximity1

      ocean_proximity  longitude  latitude
0            NEAR BAY    -122.23     37.88
1            NEAR BAY    -122.22     37.86
2            NEAR BAY    -122.24     37.85
3            NEAR BAY    -122.25     37.85
4            NEAR BAY    -122.25     37.84
...               ...        ...       ...
12585          INLAND    -121.09     39.48
12586          INLAND    -121.21     39.49
12587          INLAND    -121.22     39.43
12588          INLAND    -121.32     39.43
12589          INLAND    -121.24     39.37

[12590 rows x 3 columns]

In [20]:
# Using .merge() and .concat() to merge the 5 CSV files
housing1 = pd.merge(long_lat1, ocean_proximity1, on = ('longitude', 'latitude'), how = 'inner')
housing2 = pd.concat([cal_housing_low1, cal_housing_medium1, cal_housing_high1])
housing = pd.merge(housing2, housing1, on = 'id')
housing

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,23,CA,113.903,NaN,543.0,2438.0,481.0,1016.0,17250.0,-122.27,37.84,NEAR BAY
1,24,CA,99.701,56.0,337.0,1692.0,328.0,856.0,21806.0,-122.27,37.84,NEAR BAY
2,26,CA,107.500,41.0,123.0,535.0,121.0,317.0,24038.0,-122.28,37.85,NEAR BAY
3,27,CA,93.803,53.0,244.0,1132.0,241.0,607.0,24597.0,-122.28,37.85,NEAR BAY
4,28,CA,105.504,52.0,423.0,1899.0,400.0,1104.0,18080.0,-122.28,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
21553,21425,CA,276.501,8.0,756.0,4987.0,726.0,2513.0,69454.0,-118.73,34.29,<1H OCEAN
21554,21446,CA,310.004,11.0,514.0,1780.0,507.0,4481.0,14653.0,-121.79,38.54,INLAND
21555,21450,CA,286.002,17.0,317.0,1964.0,287.0,811.0,59629.0,-121.81,38.58,INLAND
21556,21452,CA,326.501,17.0,1022.0,6141.0,967.0,2557.0,42432.0,-121.67,38.54,INLAND
21557,21497,CA,275.003,40.0,69.0,355.0,71.0,240.0,28542.0,-121.81,38.84,INLAND

In [9]:
# Sorting the housing data frame by id in ascending order
housing = housing.sort_values(by = 'id')
housing

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
16398,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
16399,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
16400,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
16401,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
16402,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,CA,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,-121.09,39.48,INLAND
6070,21555,CA,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,-121.21,39.49,INLAND
6071,21556,CA,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,-121.22,39.43,INLAND
6072,21557,CA,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,-121.32,39.43,INLAND
6073,21558,CA,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,-121.24,39.37,INLAND

In [10]:
## Droping any missing values from the medianHouseValue column
housing = housing.dropna(subset = ['medianHouseValue'])
housing

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
16398,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
16399,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
16400,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
16401,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
16402,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,CA,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,-121.09,39.48,INLAND
6070,21555,CA,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,-121.21,39.49,INLAND
6071,21556,CA,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,-121.22,39.43,INLAND
6072,21557,CA,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,-121.32,39.43,INLAND
6073,21558,CA,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,-121.24,39.37,INLAND

In [11]:
## Filling missing values with the median in the column housingMedianAge with the housing median age that we will calculate
median_value = housing['housingMedianAge'].median()
housing['housingMedianAge'] = housing['housingMedianAge'].fillna(median_value)
housing

C:\Users\arsen\AppData\Local\Temp\ipykernel_209812\4200490167.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  housing['housingMedianAge'] = housing['housingMedianAge'].fillna(median_value)

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
16398,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
16399,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
16400,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
16401,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
16402,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,CA,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,-121.09,39.48,INLAND
6070,21555,CA,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,-121.21,39.49,INLAND
6071,21556,CA,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,-121.22,39.43,INLAND
6072,21557,CA,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,-121.32,39.43,INLAND
6073,21558,CA,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,-121.24,39.37,INLAND

In [12]:
## Dropping the state column
housing = housing.drop(columns = ['state'])
housing

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
16398,1,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
16399,2,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
16400,3,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
16401,4,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
16402,5,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,-121.09,39.48,INLAND
6070,21555,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,-121.21,39.49,INLAND
6071,21556,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,-121.22,39.43,INLAND
6072,21557,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,-121.32,39.43,INLAND
6073,21558,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,-121.24,39.37,INLAND

In [13]:
## Scaling the medianIncome in $10,000 of dollars
housing['medianIncome'] = housing['medianIncome'].div(10000)
housing

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
16398,1,452.603,45.0,131.0,884.0,130.0,323.0,8.3252,-122.23,37.88,NEAR BAY
16399,2,358.502,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,-122.22,37.86,NEAR BAY
16400,3,352.104,53.0,193.0,1468.0,180.0,500.0,7.2574,-122.24,37.85,NEAR BAY
16401,4,341.300,55.0,236.0,1278.0,222.0,558.0,5.6431,-122.25,37.85,NEAR BAY
16402,5,342.200,54.0,282.0,1628.0,262.0,568.0,3.8462,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,78.101,28.0,374.0,1665.0,332.0,847.0,1.5603,-121.09,39.48,INLAND
6070,21555,77.102,18.0,154.0,701.0,114.0,360.0,2.5568,-121.21,39.49,INLAND
6071,21556,92.301,19.0,488.0,2257.0,437.0,1007.0,1.7000,-121.22,39.43,INLAND
6072,21557,84.701,21.0,412.0,1864.0,349.0,744.0,1.8672,-121.32,39.43,INLAND
6073,21558,89.401,18.0,616.0,2787.0,532.0,1387.0,2.3886,-121.24,39.37,INLAND

In [14]:
## Changing any values in medianIncome under 0.4999 to 0.4999 and any vales above 15.0001 to 15.0001
housing['medianIncome'] = np.clip(housing['medianIncome'], 0.4999, 15.0001)
housing

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
16398,1,452.603,45.0,131.0,884.0,130.0,323.0,8.3252,-122.23,37.88,NEAR BAY
16399,2,358.502,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,-122.22,37.86,NEAR BAY
16400,3,352.104,53.0,193.0,1468.0,180.0,500.0,7.2574,-122.24,37.85,NEAR BAY
16401,4,341.300,55.0,236.0,1278.0,222.0,558.0,5.6431,-122.25,37.85,NEAR BAY
16402,5,342.200,54.0,282.0,1628.0,262.0,568.0,3.8462,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,78.101,28.0,374.0,1665.0,332.0,847.0,1.5603,-121.09,39.48,INLAND
6070,21555,77.102,18.0,154.0,701.0,114.0,360.0,2.5568,-121.21,39.49,INLAND
6071,21556,92.301,19.0,488.0,2257.0,437.0,1007.0,1.7000,-121.22,39.43,INLAND
6072,21557,84.701,21.0,412.0,1864.0,349.0,744.0,1.8672,-121.32,39.43,INLAND
6073,21558,89.401,18.0,616.0,2787.0,532.0,1387.0,2.3886,-121.24,39.37,INLAND

In [15]:
## Reverting the medianHouseValue back to actual dollars
housing['medianHouseValue'] = housing['medianHouseValue'].mul(1000)
housing

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
16398,1,452603.0,45.0,131.0,884.0,130.0,323.0,8.3252,-122.23,37.88,NEAR BAY
16399,2,358502.0,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,-122.22,37.86,NEAR BAY
16400,3,352104.0,53.0,193.0,1468.0,180.0,500.0,7.2574,-122.24,37.85,NEAR BAY
16401,4,341300.0,55.0,236.0,1278.0,222.0,558.0,5.6431,-122.25,37.85,NEAR BAY
16402,5,342200.0,54.0,282.0,1628.0,262.0,568.0,3.8462,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,78101.0,28.0,374.0,1665.0,332.0,847.0,1.5603,-121.09,39.48,INLAND
6070,21555,77102.0,18.0,154.0,701.0,114.0,360.0,2.5568,-121.21,39.49,INLAND
6071,21556,92301.0,19.0,488.0,2257.0,437.0,1007.0,1.7000,-121.22,39.43,INLAND
6072,21557,84701.0,21.0,412.0,1864.0,349.0,744.0,1.8672,-121.32,39.43,INLAND
6073,21558,89401.0,18.0,616.0,2787.0,532.0,1387.0,2.3886,-121.24,39.37,INLAND

In [16]:
## Changing column names
housing = housing.rename(columns = {'housingMedianAge': 'housing_median_age', 'totalRooms' : 'total_rooms', 'totalBedrooms' : 'total_bedrooms', 'medianIncome' : 'median_income', 'medianHouseValue' : 'median_house_value' })
housing

,id,median_house_value,housing_median_age,total_bedrooms,total_rooms,households,population,median_income,longitude,latitude,ocean_proximity
16398,1,452603.0,45.0,131.0,884.0,130.0,323.0,8.3252,-122.23,37.88,NEAR BAY
16399,2,358502.0,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,-122.22,37.86,NEAR BAY
16400,3,352104.0,53.0,193.0,1468.0,180.0,500.0,7.2574,-122.24,37.85,NEAR BAY
16401,4,341300.0,55.0,236.0,1278.0,222.0,558.0,5.6431,-122.25,37.85,NEAR BAY
16402,5,342200.0,54.0,282.0,1628.0,262.0,568.0,3.8462,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,78101.0,28.0,374.0,1665.0,332.0,847.0,1.5603,-121.09,39.48,INLAND
6070,21555,77102.0,18.0,154.0,701.0,114.0,360.0,2.5568,-121.21,39.49,INLAND
6071,21556,92301.0,19.0,488.0,2257.0,437.0,1007.0,1.7000,-121.22,39.43,INLAND
6072,21557,84701.0,21.0,412.0,1864.0,349.0,744.0,1.8672,-121.32,39.43,INLAND
6073,21558,89401.0,18.0,616.0,2787.0,532.0,1387.0,2.3886,-121.24,39.37,INLAND

In [17]:
## Changing the order of the columns
housing = housing[['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value', 'ocean_proximity']]
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16398,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
16399,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
16400,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
16401,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
16402,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
6069,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
6070,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
6071,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
6072,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
6073,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND

In [18]:
## Change all columns except ocean_proximity to a float
ocean_proximity_no_change = 'ocean_proximity'
def convert_to_float(col):
    if col.name != ocean_proximity_no_change:
        return col.astype(float)
    else:
        return col
housing = housing.apply(convert_to_float)
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16398,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
16399,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
16400,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
16401,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
16402,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
6069,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
6070,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
6071,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
6072,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
6073,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND

In [19]:
## Resetting the data frame's index from 0 to n-1 using drop = True to exclude index column 
housing = housing.reset_index(drop = True)
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
1,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
2,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
3,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
20636,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
20637,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
20638,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
20639,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND